  /* Control the left side */
  .left {
    position: absolute;
    left: 25%;
    width: 100%;
    top: 65%;
  }

  .event-list {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .event-list > h1{
    position: absolute;
    padding-bottom: 15%;
    transform: translate(10%, -50%);
  }

  /* Control the right side */
  .right {
    position: absolute;
    right: 0;
    width: 80%;
    top: 65%
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
