
.form-group {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}

.name,
#add-label,
#del-label{
    padding:10px;
    font-weight:700;
}
.schedule{
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
}

#schedule-list {
    border: 1px solid salmon;
    width: 50%;
}
#hide-schedule {
    display:none;
}
#add-time,
#delete-time {
    margin-left: 20px;
}
#clear-all{
    margin-top: 10px;
}